@keyframes popup {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .35);
    z-index: 3500;
    opacity: 1;
    visibility: visible;
    transition: all .3s;

    &__header {
        display: flex;
    }

    &__close {
        color: #333;
        position: absolute;
        top: 0.8rem;
        right: 2rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        line-height: 1;
        cursor: pointer;
    }

    &__content {
        width: 25%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        background-color: $color-white;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        display: table;
        overflow: hidden;
        animation: popup .4s;
    }

    &__title {
        font-size: 1.7rem;
        color: #88979d;
        padding: 1.5rem 2rem;
    }

    &__text {
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
    }

    &__options {
        font-size: 1.4rem;
        padding: 1.5rem 2rem;

        &--account-input {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
        }
    }

    &__text-input {
        border: 2px solid #88979d;
        padding: .5rem;
        border-radius: .3rem;
    }

    &__select {
        border: 2px solid #88979d;
        border-radius: .3rem;
    }

    &__send-button {
        border: none;
        background-color: $tertiray-color;
        border: 1px solid $tertiray-color;
        font-size: 1.4rem;
        font-weight: 400;
        border-radius: 3px;
        color: #fff;
        padding: 0.8rem 1.5rem;
        
        cursor: pointer;
    }
}