.wrapper {
    display: flex;
}

.main {
    flex: 1;
}

.sidebar {
    background-color: $primary-color;
    flex: 0 0 12%;
    height: 100vh;

    &__title {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 70px;
        text-align: center;
    }

    &__home {
        text-decoration: none;
    }

    &__start {
        color: #fff;
    }

    &__end {
        color: $secondary-color;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.6rem;
        padding: 2rem 2rem;
        line-height: 1;
        color: #98a6ad;
        cursor: pointer;
        transition: all .3s;
    }

    &__item:hover {
        background-color: darken($primary-color, 2.5);
        color: #fff;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.5rem;
        fill: #98a6ad;
        transition: all .3s;
    }

    &__item:hover &__icon {
        fill: #fff;
    }
}

.navbar {
    height: 6rem;
    box-shadow: 0 0 8px 0 rgba(54, 64, 78, 0.09);

    &__navigation {
        width: 5rem;
        height: 100%;
        cursor: pointer;
    }

    &__icon {
        position: relative;
        margin-top: 3rem;
        margin-left: 2rem;
        transition: all .2s;
        &,
        &::before,
        &::after {
            width: 1.9rem;
            height: 2px;
            background-color: #000;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {top: -.6rem;}
        &::after { top: .6rem; }
    }

    &__navigation:hover &__icon {
        background-color: $secondary-color;
    }

    &__navigation:hover &__icon::before {
        top: -.7rem;
        background-color: $secondary-color;
    }


    &__navigation:hover &__icon::after {
        top: .7rem;
        background-color: $secondary-color;
    }
}

.content {
    background-color: #f8f8f8;
    height: 93vh;
}

.options {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__add-category {
        border: none;
        background-color: $tertiray-color;
        border: 1px solid $tertiray-color;
        font-size: 1.4rem;
        font-weight: 400;
        border-radius: 3px;
        color: #fff;
        padding: 0.8rem 1.5rem;
        margin-left: 4rem;
        cursor: pointer;
    }

    &__add-category:hover {
        background-color: darken($tertiray-color, 2);
    }

    &__calendar {
        display: flex;
        align-items: center;
        margin-right: 2.5rem;
    }

    &__calendar-date {
        font-size: 1.6rem;
        padding: 1rem;
        font-weight: 600;
        cursor: pointer;
        color: #485362;
        border-radius: 3px;
    }

    &__left-arrow {
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        fill: $tertiray-color;
    }

    &__left-arrow:hover {
        fill: $secondary-color;
    }

    &__right-arrow {
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        fill: $tertiray-color;
    }

    &__right-arrow:hover {
        fill: $secondary-color;
    }
}

.table {
    margin-left: 4rem;
    margin-right: 2.5rem;
    margin-top: 1rem;
    border: 1px solid #eaeaea;
    box-shadow: 3px 4px 5px hsla(0,0%,92%,.61);

    &__header {
        list-style: none;
        display: flex;
        color: #4c7079;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-align: right;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &__header-category {
        flex: 0 0 55%;
        text-align: left;
        margin-left: 0.8rem;
    }

    &__header-budgeted {
        flex: 0 0 15%;
        padding-right: 1rem;
    }

    &__header-activity {
        flex: 0 0 15%;
        padding-right: 1rem;
    }

    &__header-available {
        flex: 0 0 15%;
        font-weight: 700;
        padding-right: 1.5rem;
    }

    &__content {

    }

    &__category-group {
        background-color: #e5f5f9;
        color: #003440;
        list-style: none;
        display: flex;
        font-size: 1.4rem;
        padding: 0.8rem 1rem;
        border-top: 1px solid #2ec0c4;
        text-align: right;
    }

    &__category-group:hover > &__category-name > &__category-form > &__category-input--header {
        border: 1px dashed #d8d8d8;
    }

    &__category-element:hover > &__element-name > &__category-form > &__category-input {
        border: 1px dashed #d8d8d8;
    }

    &__category-group:hover {
        background-color: darken(#e5f5f9, 3.5);
    }

    &__category-group:hover > &__category-name > &__add-icon-container > &__add-icon {
        fill: $tertiray-color;
    }

    &__category-name {
        display: flex;
        align-items: center;
        flex: 0 0 55%;
        text-align: left;
        font-weight: 600;
    }

    &__category-form {

    }

    &__category-mybudget-input {
        background-color: inherit;
        color: inherit;
        border: 1px dashed transparent;
        padding: 0.1rem 0.5rem;
        width: 8rem;
        text-align: right;
        font-family: inherit;
        transition: .1s ease-in-out;
    }

    &__category-mybudget-input:hover {
        background-color: #fff;
    }

    &__element-mybudget {
        display: flex;
        justify-content: flex-end;
    }

    &__category-element:hover > &__element-budgeted > &__element-mybudget > &__category-mybudget-input {
        border: 1px dashed #d8d8d8;
    }

    &__add-icon-container {
        padding-left: 1rem;
        cursor: pointer;
    }

    &__add-icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: transparent;
        transition: .1s ease-in-out;
    }

    &__category-input {
        background-color: inherit;
        color: inherit;
        transition: .1s ease-in-out;
        border: 1px dashed transparent;
        padding: 0.1rem 0.5rem;
        
        &--header {
            font-weight: 600;
            background-color: inherit;
            color: inherit;
            transition: .1s ease-in-out;
            border: 1px dashed transparent;
            padding: 0.1rem 0.5rem;
        }

        &--header:hover {
            border: 1px dashed #d8d8d8;
            background: #fff;
        }

        &--header:focus {
            background: #fff;
            border: 1px solid $tertiray-color;
        }
    }

    &__category-input:hover {
        border: 1px dashed #d8d8d8;
        background: #fff;
    }

    &__category-input:focus {
        background: #fff;
        border: 1px solid $tertiray-color;
    }

    &__category-budgeted {
        flex: 0 0 15%;
    }

    &__category-activity {
        flex: 0 0 15%;
    }

    &__category-available {
        flex: 0 0 15%;
        color: #26a65b;
        font-weight: 600;
    }

    &__category-element {
        list-style: none;
        display: flex;
        font-size: 1.4rem;
        padding: 0.8rem 1rem;
        text-align: right;
        color: #003440;
        cursor: pointer;
        background-color: #fff;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
    }

    &__category-element:hover {
        background-color: darken($color-white, 2);
    }

    &__element-name {
        flex: 0 0 55%;
        text-align: left;
    }

    &__element-budgeted {
        flex: 0 0 15%;
    }

    &__element-activity {
        flex: 0 0 15%;
    }

    &__element-available {
        flex: 0 0 15%;
        color: #26a65b;
        font-weight: 600;
    }
}