* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

html {
  font-family: 'Sarabun', sans-serif; }

@keyframes popup {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); } }

.wrapper {
  display: flex; }

.main {
  flex: 1; }

.content {
  background-color: #f8f8f8;
  height: 93vh; }