* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

html {
  font-family: 'Sarabun', sans-serif; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 3500;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__content {
    width: 25%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    opacity: 0;
    transition: all .4s; }
  .popup__title {
    font-size: 1.7rem;
    color: #88979d;
    padding: 1.5rem 2rem; }
  .popup__text {
    font-size: 1.4rem;
    padding: 1.5rem 2rem; }
  .popup__options {
    font-size: 1.4rem;
    padding: 1.5rem 2rem; }
    .popup__options--account-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem; }
  .popup__text-input {
    border: 2px solid #88979d;
    padding: .5rem;
    border-radius: .3rem; }
  .popup__select {
    border: 2px solid #88979d;
    border-radius: .3rem; }
  .popup__send-button {
    border: none;
    background-color: #167ccb;
    border: 1px solid #167ccb;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 3px;
    color: #fff;
    padding: 0.8rem 1.5rem;
    cursor: pointer; }

.wrapper {
  display: flex; }

.main {
  flex: 1; }

.sidebar {
  background-color: #36404e;
  flex: 0 0 12%;
  height: 100vh; }
  .sidebar__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 70px;
    text-align: center; }
  .sidebar__home {
    text-decoration: none; }
  .sidebar__start {
    color: #fff; }
  .sidebar__end {
    color: #7fc1fc; }
  .sidebar__menu {
    display: flex;
    flex-direction: column;
    list-style: none; }
  .sidebar__item {
    display: flex;
    background: #36404e;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    padding: 2rem 2rem;
    line-height: 1;
    color: #98a6ad;
    cursor: pointer;
    transition: all .3s;
    z-index: 10; }
  .sidebar__icon-group {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    padding: 2rem 2rem;
    line-height: 1;
    color: #98a6ad;
    cursor: pointer;
    transition: all .3s; }
  .sidebar__item--account {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 1;
    color: #98a6ad;
    cursor: pointer;
    transition: all .3s; }
  .sidebar__icon-group--enabled {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    padding: 2rem 2rem;
    line-height: 1;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    background-color: #313a46; }
  .sidebar__icon-group:hover {
    background-color: #313a46;
    color: #fff; }
  .sidebar__account-container {
    font-size: 1.4rem; }
    .sidebar__account-container--disabled {
      visibility: hidden;
      max-height: 0;
      z-index: 5;
      transition: all 0.6s ease-out; }
    .sidebar__account-container--enabled {
      visibility: visible;
      max-height: 20rem;
      z-index: 5;
      transition: all 0.6s ease-out; }
  .sidebar__account-selector {
    list-style: none; }
  .sidebar__account {
    margin-left: 5rem;
    transition: all .3s;
    margin-bottom: 1.8rem; }
    .sidebar__account:first-child {
      margin-top: 1rem; }
  .sidebar__account:hover {
    color: #fff; }
  .sidebar__item:hover {
    background-color: #313a46;
    color: #fff; }
  .sidebar__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    fill: #98a6ad;
    transition: all .3s; }
  .sidebar__item:hover .sidebar__icon {
    fill: #fff; }
  .sidebar__divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

.navbar {
  height: 6rem;
  box-shadow: 0 0 8px 0 rgba(54, 64, 78, 0.09); }
  .navbar__navigation {
    width: 5rem;
    height: 100%;
    cursor: pointer; }
  .navbar__icon {
    position: relative;
    margin-top: 3rem;
    margin-left: 2rem;
    transition: all .2s; }
    .navbar__icon, .navbar__icon::before, .navbar__icon::after {
      width: 1.9rem;
      height: 2px;
      background-color: #000;
      display: inline-block; }
    .navbar__icon::before, .navbar__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navbar__icon::before {
      top: -.6rem; }
    .navbar__icon::after {
      top: .6rem; }
  .navbar__navigation:hover .navbar__icon {
    background-color: #7fc1fc; }
  .navbar__navigation:hover .navbar__icon::before {
    top: -.7rem;
    background-color: #7fc1fc; }
  .navbar__navigation:hover .navbar__icon::after {
    top: .7rem;
    background-color: #7fc1fc; }

.content {
  background-color: #f8f8f8;
  height: 93vh; }

.options {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .options__add-category {
    border: none;
    background-color: #167ccb;
    border: 1px solid #167ccb;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 3px;
    color: #fff;
    padding: 0.8rem 1.5rem;
    margin-left: 4rem;
    cursor: pointer; }
  .options__add-category:hover {
    background-color: #1576c2; }
  .options__calendar {
    display: flex;
    align-items: center;
    margin-right: 2.5rem; }
  .options__calendar-date {
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: #485362;
    border-radius: 3px; }
  .options__left-arrow {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    fill: #167ccb; }
  .options__left-arrow:hover {
    fill: #7fc1fc; }
  .options__right-arrow {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    fill: #167ccb; }
  .options__right-arrow:hover {
    fill: #7fc1fc; }

.table {
  margin-left: 4rem;
  margin-right: 2.5rem;
  margin-top: 1rem;
  border: 1px solid #eaeaea;
  box-shadow: 3px 4px 5px rgba(235, 235, 235, 0.61); }
  .table__header {
    list-style: none;
    display: flex;
    color: #4c7079;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: right;
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .table__header-category {
    flex: 0 0 55%;
    text-align: left;
    margin-left: 0.8rem; }
  .table__header-budgeted {
    flex: 0 0 15%;
    padding-right: 1rem; }
  .table__header-activity {
    flex: 0 0 15%;
    padding-right: 1rem; }
  .table__header-available {
    flex: 0 0 15%;
    font-weight: 700;
    padding-right: 1.5rem; }
  .table__category-group {
    background-color: #e5f5f9;
    color: #003440;
    list-style: none;
    display: flex;
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
    border-top: 1px solid #2ec0c4;
    text-align: right; }
  .table__category-group:hover > .table__category-name > .table__category-form > .table__category-input--header {
    border: 1px dashed #d8d8d8; }
  .table__category-element:hover > .table__element-name > .table__category-form > .table__category-input {
    border: 1px dashed #d8d8d8; }
  .table__category-group:hover {
    background-color: #d6eff6; }
  .table__category-group:hover > .table__category-name > .table__add-icon-container > .table__add-icon {
    fill: #167ccb; }
  .table__category-name {
    display: flex;
    align-items: center;
    flex: 0 0 55%;
    text-align: left;
    font-weight: 600; }
  .table__category-mybudget-input {
    background-color: inherit;
    color: inherit;
    border: 1px dashed transparent;
    padding: 0.1rem 0.5rem;
    width: 8rem;
    text-align: right;
    font-family: inherit;
    transition: .1s ease-in-out; }
  .table__category-mybudget-input:hover {
    background-color: #fff; }
  .table__element-mybudget {
    display: flex;
    justify-content: flex-end; }
  .table__category-element:hover > .table__element-budgeted > .table__element-mybudget > .table__category-mybudget-input {
    border: 1px dashed #d8d8d8; }
  .table__add-icon-container {
    padding-left: 1rem;
    cursor: pointer; }
  .table__add-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: transparent;
    transition: .1s ease-in-out; }
  .table__category-input {
    background-color: inherit;
    color: inherit;
    transition: .1s ease-in-out;
    border: 1px dashed transparent;
    padding: 0.1rem 0.5rem; }
    .table__category-input--header {
      font-weight: 600;
      background-color: inherit;
      color: inherit;
      transition: .1s ease-in-out;
      border: 1px dashed transparent;
      padding: 0.1rem 0.5rem; }
    .table__category-input--header:hover {
      border: 1px dashed #d8d8d8;
      background: #fff; }
    .table__category-input--header:focus {
      background: #fff;
      border: 1px solid #167ccb; }
  .table__category-input:hover {
    border: 1px dashed #d8d8d8;
    background: #fff; }
  .table__category-input:focus {
    background: #fff;
    border: 1px solid #167ccb; }
  .table__category-budgeted {
    flex: 0 0 15%; }
  .table__category-activity {
    flex: 0 0 15%; }
  .table__category-available {
    flex: 0 0 15%;
    color: #26a65b;
    font-weight: 600; }
  .table__category-element {
    list-style: none;
    display: flex;
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
    text-align: right;
    color: #003440;
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea; }
  .table__category-element:hover {
    background-color: #fafafa; }
  .table__element-name {
    flex: 0 0 55%;
    text-align: left; }
  .table__element-budgeted {
    flex: 0 0 15%; }
  .table__element-activity {
    flex: 0 0 15%; }
  .table__element-available {
    flex: 0 0 15%;
    color: #26a65b;
    font-weight: 600; }
