.account {
    display: flex;
    flex-direction: column;
}

.account__header {
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
}

.account__details {
    display: flex;
}

.account__name {
    background-color: #26a65b;
    height: 4.2rem;
    width: 15rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 0.7rem;
}

.account__text {
    display: inline-block;
}

.account__balance {
    height: 4.2rem;
    width: 15rem;
    margin-top: 1rem;
    margin-left: 4.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.account__balance-value {
    font-size: 2rem;
}

.account__reconcile {
    width: 15rem;
    height: 4.2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    color: white;
    background-color: #1576c2;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    border-radius: 0.7rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.account__buttons {
    height: 4rem;
}

.account__add-transaction {
    color: #1576c2;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: 600;
    width: 20rem;
}

.account__listing {

}

.table__header {
    list-style: none;
    display: flex;
    align-items: center;
    color: #4c7079;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: right;
    margin-bottom: 1rem;
    margin-top: 1rem; 
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 0.5rem;
}

.table__header-select {
    margin-left: 1rem;
}

.table__header-date {
    flex: 0 0 45%;
    text-align: left;
    margin-left: 2.5rem; 
}

.table__header-category--transaction {
    flex: 0 0 15%;
    text-align: left;
    margin-left: 0.8rem;
}

.table__header-memo {
    flex: 0 0 15%;
    text-align: left;
    margin-left: 0.8rem;
}

.table__header-outflow {
    flex: 0 0 15%;
    text-align: left;
    margin-left: 0.8rem;
}

.table__header-inflow {
    flex: 0 0 15%;
    text-align: left;
    margin-left: 0.8rem;
}

.table__listing {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 0.8rem;
}

.table__listing-select {
    margin-left: 1rem;
}

.table__listing-date {
    flex: 0 0 45%;
    text-align: left;
    margin-left: 2.5rem; 
}

.table__listing-category {
    flex: 0 0 15%;
    text-align: left;
    margin-left: 0.8rem;
}

.table__listing-memo {
    flex: 0 0 15%;
    text-align: left;
    margin-left: 0.8rem;
}

.table__listing-outflow {
    flex: 0 0 15%;
    text-align: left;
    margin-left: 0.8rem;
}

.table__listing-inflow {
    flex: 0 0 15%;
    text-align: left;
    margin-left: 0.8rem;
}